/* =================Portfolio==================================================================== */

body {
  background-color: rgba(0, 0, 0, 0.925);
}
.portfolio {
  color: white;
  z-index: 0;
  position: relative;
}

.portfolio__container {
  padding-top: 150px;
}

.portfolio__items {
  display: flex;
  padding: 8rem;
  flex-wrap: wrap;
}

.portfolio__item {
  flex: 0 0 33%;
  max-width: 33%;
}

.portfolio__itemContainer {
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(21, 21, 21, 0) 100%);
  backdrop-filter: blur(42px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  margin: 2rem;
  padding: 2rem;
}

.portfolio__itemContainer > img {
  object-fit: contain;
  width: 110%;
  transform: translateX(-50px);
  border-radius: 1em;
}

.portfolio__itemContainer > p {
  margin-top: 30px;
  font-size: x-large;
}

.portfolio__more {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.more__left,
.more__right {
  position: relative;
  width: 297px;
  height: 0px;
  top: 20px;
  margin: 0 20px;
  border: 1px solid #ffffff;
}

.more__button {
  border: 1px solid white;
  border-radius: 100px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
}

.skills__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__container > .title {
  display: flex;
  justify-content: flex-start;
  margin: 150px 0px;
}

.tech__cards {
  margin: 20px 0px;
  padding-bottom: 100px;
  max-width: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tech__cards > .tech__extraText {
  width: 800px;
  padding: 3rem 0rem;
  font-family: Fira code;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.tech__card {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tech__card > p {
  margin: 10px 0px;
  text-transform: uppercase;
  font-weight: 200;
  font-family: poppins;
  letter-spacing: 0.2em;
}

/* =============== 1280px HD desktop display ============================= */

@media (max-width: 1280px) {
  .portfolio__item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .portfolio__item:nth-of-type(4) {
    display: none;
  }
}

/* =============== 960px display ============================= */

@media (max-width: 960px) {
  .portfolio__item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .portfolio__item:nth-of-type(3) {
    display: hidden;
  }
  .portfolio__itemContainer {
    margin: 1.5rem 1rem;
    padding: 1rem;
  }
  .portfolio__items {
    padding: 4rem;
  }
}

/* =============== 600px MOBILE display ============================= */

@media (max-width: 600px) {
  .more__left,
  .more__right {
    width: 100px;
  }
  .more__button {
    padding: 0.5rem 1rem;
  }
}
